@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;
}

.location-info {
  @apply lg:my-2 md:w-[22%];
}

.location-info:last-child {
  @apply mb-0;
}

.location-info.left-border {
  @apply md:border-l md:border-darkGray md:pl-4;
}

.location-info h4 {
  @apply mb-1 text-darkGray uppercase text-xs;
}

.location-info h3 {
  @apply font-medium text-lg lg:text-2xl;
}

.leaflet-container {
  @apply h-full;
}

.leaflet-top.leaflet-left {
  @apply hidden;
}